<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atividades</title>
</head>
<body>
    <h1>Lista de Atividades</h1>

    <a href="{% url 'cadastrar_atividade' %}"><button type="button">Nova Tarefa</button></a>
    

    <ul>
        {% for atividade in atividades %}
        <li>
            {{ atividade.cidade }}
            <a href="{% url 'editar_atividade' atividade.id %}"><button type="button">Editar</button></a>
            <a href="{% url 'excluir_atividade' atividade.id %}"><button type="button">Excluir</button></a>
        </li>
        {% empty %}
        <li>Nenhuma atividade cadastrada.</li>
        {% endfor %}
    </ul>

</body>
</html>
